In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/zippedData/rotten_tomatoes_movies.csv')
df

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17707,m/zoot_suit,Zoot Suit,Mexican-American gangster Henry Reyna (Daniel ...,NaN,R,"Drama, Musical & Performing Arts",Luis Valdez,Luis Valdez,"Daniel Valdez, Edward James Olmos, Charles Aid...",1981-10-02,...,MCA Universal Home Video,Rotten,56.0,9.0,Upright,74.0,1195.0,2,5,4
17708,m/zootopia,Zootopia,From the largest elephant to the smallest shre...,The brilliantly well-rounded Zootopia offers a...,PG,"Action & Adventure, Animation, Comedy","Byron Howard, Rich Moore, Jared Bush","Jared Bush, Phil Johnston","J.K. Simmons, Kristen Bell, Octavia Spencer, A...",2016-03-04,...,Walt Disney Animation Studios,Certified-Fresh,98.0,291.0,Upright,92.0,101511.0,50,285,7
17709,m/zorba_the_greek,Zorba the Greek,Traveling to inspect an abandoned mine his fat...,NaN,NR,"Action & Adventure, Art House & International,...",NaN,NaN,"Anthony Quinn, Alan Bates, Irene Papas, Lila K...",1964-12-17,...,Fox,Fresh,80.0,10.0,Upright,86.0,7146.0,0,8,2
17710,m/zulu,Zulu,"In 1879, the Zulu nation hands colonial Britis...",Zulu patiently establishes a cast of colorful ...,PG,"Classics, Drama","Cy Endfield, Cyril Endfield","Cy Endfield, John Prebble","Stanley Baker, Jack Hawkins, Ulla Jacobsson, J...",1964-06-17,...,Paramount Pictures,Fresh,96.0,23.0,Upright,91.0,30193.0,6,22,1
17711,m/zulu_dawn,Zulu Dawn,Sir Henry Bartle Frere's (John Mills) vastly o...,NaN,PG,"Action & Adventure, Art House & International,...",Douglas Hickox,"Cy Endfield, Anthony Storey","Burt Lancaster, Peter O'Toole, Simon Ward, Joh...",1979-12-14,...,Tango Entertainment,Rotten,50.0,8.0,Upright,62.0,4469.0,0,4,4

In [16]:
df_gross = pd.read_csv('data/zippedData/bom.movie_gross.csv')
df_gross
#df_gross.set_index('domestic_gross')

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [4]:
merged = pd.merge(df, df_gross, left_on='movie_title', right_on='title')
df_rating_genres = merged[['movie_title','genres', 'tomatometer_rating', 'domestic_gross']].copy()

In [5]:
df_rating_genres

,movie_title,genres,tomatometer_rating,domestic_gross
0,Please Give,Comedy,87.0,4000000.0
1,Going the Distance,Comedy,0.0,17800000.0
2,Going the Distance,"Comedy, Romance",54.0,17800000.0
3,The Silence,"Action & Adventure, Drama, Mystery & Suspense,...",50.0,100000.0
4,The Silence,"Art House & International, Drama, Mystery & Su...",88.0,100000.0
...,...,...,...,...
2144,Zindagi Na Milegi Dobara,"Art House & International, Comedy, Drama",92.0,3100000.0
2145,Zombeavers,"Action & Adventure, Comedy, Horror",69.0,14900.0
2146,Zookeeper,"Comedy, Romance",14.0,80400000.0
2147,Zoolander 2,Comedy,22.0,28800000.0
2148,Zootopia,"Action & Adventure, Animation, Comedy",98.0,341300000.0

In [6]:
df_rating_genres.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2149 entries, 0 to 2148
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie_title         2149 non-null   object
 1   genres              2149 non-null   object
 2   tomatometer_rating  2148 non-null   float64
 3   domestic_gross      2137 non-null   float64
dtypes: float64(2), object(2)
memory usage: 83.9+ KB

In [7]:
df_rating_genres.dropna(inplace=True)

In [8]:
df_rating_genres.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2136 entries, 0 to 2148
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie_title         2136 non-null   object
 1   genres              2136 non-null   object
 2   tomatometer_rating  2136 non-null   float64
 3   domestic_gross      2136 non-null   float64
dtypes: float64(2), object(2)
memory usage: 83.4+ KB

In [9]:
#genres_split = df_rating_genres[df_rating_genres.apply(lambda x: len(x['genres'].split(',')) >=2, axis=1)]
#genres_split['genres'][0]

In [10]:
df_sorted = df_rating_genres.sort_values('domestic_gross', ascending=False)

In [11]:
df_sorted

,movie_title,genres,tomatometer_rating,domestic_gross
343,Black Panther,"Action & Adventure, Drama, Science Fiction & F...",96.0,700100000.0
283,Avengers: Infinity War,"Action & Adventure, Science Fiction & Fantasy",85.0,678800000.0
923,Jurassic World,"Action & Adventure, Mystery & Suspense, Scienc...",70.0,652300000.0
1096,Marvel's The Avengers,"Action & Adventure, Science Fiction & Fantasy",92.0,623400000.0
1496,Star Wars: The Last Jedi,"Action & Adventure, Drama, Science Fiction & F...",90.0,620200000.0
...,...,...,...,...
267,Jackpot,Action & Adventure,59.0,800.0
863,Into the White,"Action & Adventure, Art House & International,...",45.0,700.0
238,Amityville: The Awakening,"Horror, Mystery & Suspense",30.0,700.0
120,2:22,"Drama, Mystery & Suspense",22.0,400.0
1507,Storage 24,"Horror, Science Fiction & Fantasy",42.0,100.0

In [28]:
#genres_list = df_rating_genres[df_rating_genres.apply(lambda x: x['genres'].split(','))]

KeyError: 'genres'

In [26]:
#find all different relevent genres
df_rating_genres['genres'].unique()
df_rating_genres.value_counts('genres')

genres
Drama                                                 347
Comedy                                                182
Comedy, Drama                                         130
Drama, Mystery & Suspense                              94
Art House & International, Drama                       87
                                                     ...
Comedy, Documentary                                     1
Comedy, Documentary, Drama, Romance, Gay & Lesbian      1
Comedy, Documentary, Drama, Special Interest            1
Comedy, Documentary, Musical & Performing Arts          1
Western                                                 1
Length: 261, dtype: int64

In [19]:
#action and adventure genre average gross
genres_action = df_rating_genres[df_rating_genres.apply(lambda x: x['genres'].split(',')[0] == 'Action & Adventure', axis=1)]
genres_action
#df_rating_genres.loc[df_rating_genres['genres'][0] == 'Action & Adventure']

,movie_title,genres,tomatometer_rating,domestic_gross
3,The Silence,"Action & Adventure, Drama, Mystery & Suspense,...",50.0,100000.0
9,Priest,"Action & Adventure, Horror, Mystery & Suspense...",15.0,29100000.0
11,Red,"Action & Adventure, Comedy, Mystery & Suspense",72.0,90400000.0
13,Bitch Slap,Action & Adventure,29.0,17400.0
18,Season of the Witch,"Action & Adventure, Drama, Mystery & Suspense,...",11.0,24800000.0
...,...,...,...,...
2124,X-Men: Days of Future Past,"Action & Adventure, Science Fiction & Fantasy",90.0,233900000.0
2125,X-Men: First Class,"Action & Adventure, Drama, Science Fiction & F...",86.0,146400000.0
2128,Yogi Bear,"Action & Adventure, Animation, Comedy, Kids & ...",13.0,100200000.0
2145,Zombeavers,"Action & Adventure, Comedy, Horror",69.0,14900.0
2148,Zootopia,"Action & Adventure, Animation, Comedy",98.0,341300000.0

In [20]:
genres_action['domestic_gross'].mean()

81760605.21470019

In [ ]:
x = genres_action['genres']

In [ ]:
fig, ax = plt.subplots(figsize=(20,20))
ax.scatter()

In [ ]:
#df_rating_genres = df[['genres', 'tomatometer_rating']].copy()
#df_rating_genres
#gross = df_gross['domestic_gross']
#df_rating_genres = df_rating_genres.join(gross)
#df_rating_genres